@tailwind base;

@tailwind components;

@tailwind utilities;

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000000;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    padding: 8px;
    z-index: 100;
}
.skip-link:focus {
    top: 0;
}

.uniform__potty,
.honeypot-field {
    position: absolute;
    left: -9999px;
}
[hidden] {
  display: none;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.card-link::after {
    position: absolute;
    top:0;
    right:0;
    bottom: 0;
    left: 0;
    content: "";
    cursor: pointer;
}

.gutter {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

@screen lg {
    .gutter {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

::selection {
    @apply bg-red-200 ;
}
::-moz-selection {
    @apply bg-red-200 ;
}

svg {
    fill: currentColor;
}


.generated {
    @apply text-base leading-normal ;
}
.generated p {
    @apply mb-4;
}
.generated p:last-child {
    @apply mb-0;
}
.generated strong {
    @apply font-bold;
}
.generated a {
    @apply text-white relative ;
}
.generated a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    transition: width 0.3s;
    transition-timing-function: ease;
    @apply bg-white ;
}
.generated a:hover::after {
    width: 100%;
}
.generated code {
    @apply text-base ;
}
.generated pre {
    @apply p-4 bg-gray-100 mb-4 ;
}
.generated h2 {
    @apply font-bold mb-3  ;
}
.generated h3 {
    @apply text-base font-bold mb-2 ;
}


.site-hero__background {
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(188,190,192,1) 100%);
}

.hero-left {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    left: 10rem;
}

.hero-right {
    background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    right: 10rem;
}
.menutoggle {
    top: 2rem;
    right: 2rem;
    border: 1px solid;
    @apply border-wilberg-text;
}
.menu-open .menutoggle {
    @apply border-wilberg-main;
}
.menu-open {
    overflow-y: hidden;
}

.main-menu__list {
    top: 0;
    left: 0;
    width: 100vw;
    height: 0;
    transition: height 400ms ease-in-out;
}

.menu-open .main-menu__list {
    height: 100vh;
    overflow-y: scroll;
}

.contact-us {
    margin-top: -13%;
}

.section-tab__header {
    transition: background-color 300ms ease;
}

.section-tab__content {
    --height: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 400ms ease;
}
.section-tab__content.is-open {
    max-height: 1500px;
}